@model Filmes.Models.AddFilmeVm

<h1>Add Filme</h1>

<form asp-controller="Flixssa" asp-action="Add" method="post">
 <div class="form-group">
        <label asp-for="Titulo"></label>
        <input class="form-control" asp-for="Titulo" />
        <span asp-validation-for="Titulo"></span>
    </div>
    <div class="form-group">
                <label asp-for="Lancamento" class="control-label"></label>
                <input asp-for="Lancamento" class="form-control" />
                <span asp-validation-for="Lancamento" class="text-danger"></span>
            </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <select asp-for="Type" asp-items="Model.Select"></select>
    </div>
     <div class="form-group">
        <label asp-for="Img"></label>
        <input class="form-control" asp-for="Img" />
        <span asp-validation-for="Img"></span>
    </div>

    <input type="submit" value="Add Filme" />

</form>